<% layout("layouts/boilerplatecode.ejs") -%>

<body>
  <h1 class="mb-4">Edit Your Listing</h1>

  <form 
    method="POST" 
    enctype="multipart/form-data" 
    action="/listings/<%= listing._id %>?_method=PUT"
    novalidate 
    class="needs-validation"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input 
        required 
        type="text" 
        class="form-control" 
        id="title"
        value="<%= listing.title %>" 
        name="listing[title]" 
        placeholder="Enter title"
      >
      <div class="valid-feedback">Title looks good</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input 
        class="form-control" 
        required 
        type="text" 
        id="description"
        value="<%= listing.description %>" 
        name="listing[description]" 
        placeholder="Enter description"
      >
      <div class="invalid-feedback">Please enter a short description</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Original Listing Image</label><br>
      <img src="<%= originalImageUrl %>" alt="Listing Image" style="width: 250px;">
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Upload New Image</label>
      <input 
        name="listing[image]"  
        type="file" 
        class="form-control" 
        id="image"
      >
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input 
          type="number" 
          required 
          class="form-control" 
          id="price"
          value="<%= listing.price %>" 
          name="listing[price]" 
          placeholder="Enter price"
        >
        <div class="invalid-feedback">Enter a valid price</div>
      </div>

      <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input 
          type="text" 
          required 
          class="form-control" 
          id="location"
          value="<%= listing.location %>" 
          name="listing[location]" 
          placeholder="Enter location"
        >
        <div class="invalid-feedback">Enter a valid location</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input 
        type="text" 
        required 
        class="form-control" 
        id="country"
        value="<%= listing.country %>" 
        name="listing[country]" 
        placeholder="Enter country"
      >
      <div class="invalid-feedback">Enter a valid country</div>
    </div>

    <button type="submit" class="btn btn-dark">Update Listing</button>
  </form>

  <script src="/js/script.js"></script>
</body>
